body {
    background-color: rgb(228, 199, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
}

.fotka {
    width: 300px;
    height: 380px;
}

.header_title {
    font-size: 28px;

}

.header_subtitle {
color: rgb(120, 37, 253);
}

main {
    border: 1px solid rgb(120, 37, 253);
    text-align: center;
}

.skills ol  {
    list-style: none;
}

.separator {
    width: 50%;
    height: 3px;
    background-color: rgb(163, 211, 253);
}

.video {
    width: 800px;
    height: 490px;
    border: none;
}

.hobbie ol {
    list-style: none;
}

.ed_table {
    border-collapse: collapse;
    width: 100%;
}

.ed_table th,
.ed_table td {
    border: 1px solid black;
    padding: 10px;
}

.quote {
    font-size: 18px;
}

.forn {
    width: 600px;
    margin: 0 auto;
}

.form_control {
    width: 100%;
}
.control--text {
    width: 70%;
}

.form_submit {
    display: block;
    margin: 0 auto;
}

footer {
    height: 100px;
    text-align: center;
    background-color: rgb(233, 214, 241);
}

.contacts_link {
    text-decoration: none;
    color: rgb(101, 53, 231);
}